{% extends "base.html" %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.old_password.label }}<br>
        {{ form.old_password(class="form-control") }}<br>
        {% for error in form.old_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control") }}<br>
        {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>{{ form.submit(type="submit", class="btn btn-primary mt-5") }}</div>
    {% if message %}
    <p class="alert alert-danger" role="alert">
            {{ message }}
    </p>
    {% endif %}
</form>
<div class="container m-3" style="position: relative; right: 2.7%">
<a href="{{ url_for('account.profile', user_id=current_user.id) }}" style="padding: 10px 10px;
text-decoration: none;
-webkit-appearance: button;
color: white;
border-radius: 5px;
background: #007bff;">Назад</a>
</div>
{% endblock %}