{% extends "base.html" %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.image.label }}<br>
        {{ form.image(class="form-control") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>{{ form.is_private() }} {{ form.is_private.label }}</div>
    <div>{{ form.submit(type="submit", class="btn btn-primary mt-5") }}</div>
</form>
{% endblock %}