{% extends "base.html" %}

{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{ form.image.label }}<br>
        {{ form.image(class="form-control") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>{{ form.is_private() }} {{ form.is_private.label }}</div>
    <div>{{ form.submit(type="submit", class="btn btn-primary mt-5") }}</div>
</form>
<div class="container m-3" style="position: relative; right: 2.7%">
<a href="{{ url_for('account.profile', user_id=current_user.id) }}" style="padding: 10px 10px;
text-decoration: none;
-webkit-appearance: button;
color: white;
border-radius: 5px;
background: #007bff;">Назад</a>
</div>
{% endblock %}