{% extends "base.html" %}

{% block content %}
<h1>{{ h }}</h1>
<div class="row row-cols-6 row-cols-md-3 g-4">
{% for video in videos %}
    <a href="{{ url_for('watch.show_video', video_id=video.id)}}" style="text-decoration: none; color: white">
        <div class="card p-3" style="width: 23rem; background: #181818">
            <img src="{{pathsep + pathsep.join(['static', 'storage', video.user_id | string, video.created_date.strftime('%m-%d-%Y-%H-%M-%S-%f'), video.preview]) }}" style="background-size: 100%" height="210" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ video.title }}</h5>
            <p class="card-text">{{ video.description }}</p>
        </div>
    </div>
    </a>
{% endfor %}
</div>
 {% if prev_url %}
    <a href="{{ prev_url }}">Предыдущая страница</a>
{% endif %}
{% if next_url %}
    <a href="{{ next_url }}">Следующая страница</a>
{% endif %}
{% endblock %}