{% extends "base.html" %}

{% block content %}
<figure>
    <video width="1200" height="600" controls="'controls" autoplay>
        <source src="{{pathsep + pathsep.join(['static', 'storage', video.user_id | string, video.created_date.strftime('%m-%d-%Y-%H-%M-%S-%f'), video.file_name]) }}" type="video/mp4">
    </video>
    <h2>{{ video.title }}</h2>
    <a href="{{ url_for('account.profile', user_id=author.id) }}" style="text-decoration: none; color: white">
        <h4>{{ author.name }}</h4>
    </a>
    <p>{{ video.description }}</p>
</figure>

{% endblock %}