{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    function set_btn_color(liked, btn) {
        if (liked === true){
                    if (btn.classList.contains('btn-secondary')){
                        btn.classList.toggle('btn-secondary');
                        btn.classList.toggle('btn-primary');
                    }
                }
        else {
                    if (btn.classList.contains('btn-primary')) {
                        btn.classList.toggle('btn-primary');
                        btn.classList.toggle('btn-secondary');
                    }
    }
    }

    function is_liked(){
        let video_id = {{video.id | safe}}
        return  $.ajax({
            url: $SCRIPT_ROOT + '{{url_for('watch.json_is_liked') | safe}}',
            data: {video_id: video_id},
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                let liked = jQuery.parseJSON(response).is_liked;
                let btn = document.querySelector('#like');
                set_btn_color(liked, btn)
            }
        })
    }

    function count_likes(){
        let video_id = {{video.id | safe}}
        console.log('asdasd');
        $.ajax({
            url: $SCRIPT_ROOT + '{{url_for('watch.json_count_likes') | safe}}',
            data: {video_id: video_id},
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                let likes = jQuery.parseJSON(response).likes;
                console.log(likes);
                console.log('asdasd');
                document.querySelector('#like_count').textContent = likes.toString();
            },
            error: function (error) {
                    console.log(error);
                }
        })
    }

    {% if current_user.is_authenticated %}
    $(is_liked(liked => {
        liked = jQuery.parseJSON(liked).is_liked;
        let btn = document.querySelector('#like');
        set_btn_color(liked, btn);

    }));
    {% endif %}
    $(count_likes());

    function like() {
            let video_id = {{video.id | safe}}
            $.ajax({
                url: $SCRIPT_ROOT + '{{url_for('watch.like') | safe}}',
                data: {video_id: video_id},
                type: 'GET',
                success: function (response) {
                    let liked = jQuery.parseJSON(response).is_liked;
                    let btn = document.querySelector('#like');
                    set_btn_color(!liked, btn);
                    count_likes()
                },
                error: function (error) {
                    console.log(error);
                }
            })
    }
</script>
<figure>
    <video width="1200" height="600" controls="'controls" autoplay>
        <source src="{{pathsep + pathsep.join(['static', 'storage', video.user_id | string, video.created_date.strftime('%m-%d-%Y-%H-%M-%S-%f'), video.file_name]) }}" type="video/mp4">
    </video>
    <h2>{{ video.title }}</h2>
    <a href="{{ url_for('account.profile', user_id=author.id) }}" style="text-decoration: none; color: white">
        <h4>{{ author.name }}</h4>
    </a>
    <p>{{ video.description }}</p>
    {% if current_user.is_authenticated %}
    <button class="btn btn-secondary" id="like" onclick="like()">Like</button>
    <p id="like_count">0</p><br>
    <button class="btn btn-secondary" id="dislike" onclick="disllike()">Dislike</button>
    <p id="dislike_count">0</p>
    {% else %}
    <h5>Like</h5>
    <p id="like_count">0</p><br>
    <h5>Disike</h5>
    <p id="dislike_count">0</p><br>
    {% endif %}
</figure>
{% endblock %}