{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    function set_btn_color(rated, btn) {
        if (rated === true){
                    if (btn.classList.contains('btn-secondary')){
                        btn.classList.toggle('btn-secondary');
                        btn.classList.toggle('btn-primary');
                    }
                }
        else {
                    if (btn.classList.contains('btn-primary')) {
                        btn.classList.toggle('btn-primary');
                        btn.classList.toggle('btn-secondary');
                    }
    }
    }

    {% if current_user.is_authenticated %}
    $(function is_rated(){
        let video_id = {{video.id | safe}}
        $.ajax({
            url: $SCRIPT_ROOT + '{{url_for('watch.json_is_rated') | safe}}',
            data: {video_id: video_id},
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                liked = jQuery.parseJSON(response).is_liked;
                let btnlike = document.querySelector('#like');
                set_btn_color(liked, btnlike);
                disliked = jQuery.parseJSON(response).is_disliked;
                let btndislike = document.querySelector('#dislike');
                set_btn_color(disliked, btndislike);
            }
        })
    });
    {% endif %}

    function count_rates(){
        let video_id = {{video.id | safe}}
        $.ajax({
            url: $SCRIPT_ROOT + '{{url_for('watch.json_count_rates') | safe}}',
            data: {video_id: video_id},
            type: 'GET',
            contentType: 'application/json',
            success: function (response) {
                let likes = jQuery.parseJSON(response).likes;
                document.querySelector('#like_count').textContent = likes.toString();
                let dislikes = jQuery.parseJSON(response).dislikes;
                document.querySelector('#dislike_count').textContent = dislikes.toString();
            },
            error: function (error) {
                    console.log(error);
                }
        })
    }

    $(count_rates());

    function like() {
            let video_id = {{video.id | safe}}
            $.ajax({
                url: $SCRIPT_ROOT + '{{url_for('watch.like') | safe}}',
                data: {video_id: video_id},
                type: 'GET',
                success: function (response) {
                    liked = jQuery.parseJSON(response).is_liked;
                    let btnlike = document.querySelector('#like');
                    set_btn_color(!liked, btnlike);
                    disliked = jQuery.parseJSON(response).is_disliked;
                    let btndislike = document.querySelector('#dislike');
                    set_btn_color(disliked, btndislike);
                    count_rates()
                },
                error: function (error) {
                    console.log(error);
                }
            })
    }

    function dislike() {
            let video_id = {{video.id | safe}}
            $.ajax({
                url: $SCRIPT_ROOT + '{{url_for('watch.dislike') | safe}}',
                data: {video_id: video_id},
                type: 'GET',
                success: function (response) {
                    liked = jQuery.parseJSON(response).is_liked;
                    let btnlike = document.querySelector('#like');
                    set_btn_color(liked, btnlike);
                    disliked = jQuery.parseJSON(response).is_disliked;
                    let btndislike = document.querySelector('#dislike');
                    set_btn_color(!disliked, btndislike);
                    count_rates()
                },
                error: function (error) {
                    console.log(error);
                }
            })
    }
</script>
<figure>
    <video width="1200" height="600" controls="'controls" autoplay>
        <source src="{{pathsep + pathsep.join(['static', 'storage', video.user_id | string, video.created_date.strftime('%m-%d-%Y-%H-%M-%S-%f'), video.file_name]) }}" type="video/mp4">
    </video>
    <h2>{{ video.title }}</h2>
    <a href="{{ url_for('account.profile', user_id=author.id) }}" style="text-decoration: none; color: white">
        <h4>{{ author.name }}</h4>
    </a>
    <p>{{ video.description }}</p>
    {% if current_user.is_authenticated %}
    <div>
        <button class="btn btn-secondary" id="like" onclick="like()">Like</button>
        <p id="like_count">0</p>
    </div>
    <div>
        <button class="btn btn-secondary" id="dislike" onclick="dislike()">Like</button>
        <p id="dislike_count">0</p>
    </div>
    {% else %}
    <div>
        <h5>Like</h5>
        <p id="like_count">0</p>
    </div>
    <div>
        <h5>Dislike</h5>
        <p id="dislike_count">0</p>
    </div>
    {% endif %}
</figure>
{% endblock %}