{% extends "base.html" %}

{% block content %}
<h1>{{ user.name }}</h1>
{% for video in videos %}
        <div class="card" style="width: 10rem; background: #343A40">
           <a href="/watch/{{ video.id }}" style="text-decoration: none; color: white">
                <img src="/static/videos/{{ user.id | string + '/' + video.created_date.strftime('%m-%d-%Y-%H-%M-%S-%f') + '/' + video.preview }}" class="card-img-top" alt="...">
           </a>
            <div class="card-body">
                <a href="/watch/{{ video.id }}" style="text-decoration: none; color: white">
                    <h5 class="card-title">{{ video.title }}</h5>
                </a>
                <p class="card-text">{{ video.created_date.strftime('%m-%d-%Y-%H-%M-%S') }}</p>
                <div class="btn btn-primary">Удалить</div>
            </div>
    </div>


{% endfor %}
{% endblock %}